body {
    background-image: url(img/background.jpg);
    display: flex;
}

.text {
    display: inline-block;
    padding-left: 440px;
    color: azure;
}

.note {
    color: azure;
    font-size: 30px;
    text-transform: uppercase;
}

span {
    text-transform: uppercase;
    color: azure;
    text-align: center;
}

nav {
    width: 90px;
    overflow: hidden;
    height: 100%;
    background-color: rgb(136, 131, 131);
    position: fixed;
    top: 0;
}

nav ul li {
    list-style: none;

}

nav ul li a {

    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
    text-align: center;
    padding: 30px 0;
}

nav ul li a img {
    width: 50px;
    vertical-align: middle;
}

nav ul li a:hover {
    overflow: visible;
    transition: 3s;
    width: 320px;
    background-color: rgb(11, 14, 8);
    color: aliceblue;

}

nav:hover {
    overflow: visible;
    transition: 3s;
    width: 420px;
    background-color: rgb(136, 131, 131);
    color: aliceblue;

}